@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 100% 98%;
    --foreground: 270 30% 10%;
    --card: 0 0% 100%;
    --card-foreground: 270 30% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 270 30% 10%;
    --primary: 330 81% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 260 50% 96%;
    --secondary-foreground: 270 30% 10%;
    --muted: 260 30% 96%;
    --muted-foreground: 260 10% 40%;
    --accent: 330 81% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 260 30% 90%;
    --input: 260 30% 90%;
    --ring: 330 81% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 260, 70%, 18%;
    --foreground: 250 100% 98%;
    --card: 260 70% 20%;
    --card-foreground: 250 100% 98%;
    --popover: 270 40% 10%;
    --popover-foreground: 250 100% 98%;
    --primary: 330 81% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 30% 20%;
    --secondary-foreground: 250 100% 98%;
    --muted: 270 30% 20%;
    --muted-foreground: 260 10% 70%;
    --accent: 330 81% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 270 30% 20%;
    --input: 270 30% 20%;
    --ring: 330 81% 60%;
  }

  .dark body {
    background: linear-gradient(to bottom, #312e81, #1e1b4b, #2e1065) !important;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes logoScale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
}

.logo-scale-animation {
  animation: logoScale 5s ease-in-out infinite;
}
